.months-tabs {
  padding: 20px 0;
  display: flex;
  width: 70%;

  .transaction-table {
    margin: 20px auto;
    padding: 0;
  }

  @media screen and (max-width: 768px) {
    width: 90%;

    .transaction-table {
      margin: 20px 0 0;
      overflow-x: hidden;
    }
    
  }

  .MuiTabScrollButton-horizontal.MuiTabs-scrollButtons {
    @media (max-width: 600px) {
      display: inline-flex;
    }

    &.Mui-disabled {
      display: none;
    }
  }
}
