.summary-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .summary-table {
    margin: 0;
    flex: 1;
    max-width: 50%;
  }

  .summary-table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .summary-chart {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
